<div class="container">
  <CAPTION><EM><h1>Thank you for posting!</h1></EM></CAPTION>

  <p>
    <h4>
      <a class="edit_post" href=<%= request.base_url %>/edit?key=<%= @key %>>
        Edit your post here!
      </a>
    </h4>
  </p>
</div>

